.bottom-button {
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}

.middle-form{
    margin:30px;
    padding: 20px;
}

.item-avatar  {     
    width:35%;  
    height : 35%;  
    border:solid black;
    border-radius: 50%;
    background-color: white;
    padding:10px 10px;
}

.itemsquare {
    background-color: #35393d;
    border-radius: 10px;
    border: solid black;
}

.circle {
    border-radius: 50%;
  }


  ion-content{
    --ion-background-color: #1e1e1e;
    --ion-text-color: #ffffff;
  }