<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/tabs/home']"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Create your own routines</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color=dark padding center>
    <div *ngIf="routine">
    <div class=item-avatar [routerLink]="['/avatar-routine',routine.avatar,routine.title,routine.description,taskJSON]">
        <img class=circle [attr.src]="routine.avatar">
    </div>
    </div>
    <div *ngIf="routine">
      <div class="underline" style="color: rgba(216, 141, 2, 0.829)" [routerLink]="['/avatar-routine',routine.avatar,routine.title,routine.description,taskJSON]">Edit your routine avatar</div>
    <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
        <ion-item margin>
          <ion-label position="floating" color="primary">Title</ion-label>
          <ion-input type="text" formControlName="title" [(ngModel)]="routine.title"></ion-input>
        </ion-item>
        <ion-item margin>
          <ion-label position="floating" color="primary">Description</ion-label>
          <ion-input type="text" formControlName="description" [(ngModel)]="routine.description"></ion-input>
        </ion-item>
        <div *ngIf="tasks">
          <div *ngIf="tasks.length > 0" style="margin-top:20px">
                <ion-fab vertical="end" horizontal="end">
                        <ion-fab-button>
                          <ion-icon name="add"></ion-icon>
                        </ion-fab-button>
                      </ion-fab>
            <ion-title>
                        Your Tasks
                    </ion-title>
                    <ion-list *ngFor="let item of routine.tasks">
                      <ion-item>
                        <ion-label>{{item}}</ion-label>
                      </ion-item>
                      </ion-list>
        </div>
        <div *ngIf="tasks.length == 0" style="margin-top:20px">
                    <ion-card class=solidrectangle [routerLink]="['/browse','create',routine.avatar,routine.title,routine.description,taskJSON]">
                                  + Add tasks to your routine...
                      </ion-card>
            </div>
          </div>
        <ion-button class="submit-btn" class=bottom-button expand="block" type="submit" [disabled]="!validations_form.valid">Create</ion-button>
      </form>
    </div>
</ion-content>
