<ion-content padding class="view-routine-content">
    <ion-toolbar style="--background:transparent">
        <ion-buttons slot="start">
            <ion-icon style="color:white;font-size: 30px" name="arrow-dropleft" routerLink="/tabs/home"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon style="color:white;font-size: 30px" name="more"></ion-icon>
        </ion-buttons>
      </ion-toolbar>
      <ion-grid *ngIf="routine">
          <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-card style="height:25vh;width:28vh;--background:linear-gradient(to bottom right,#595959,black,black,black,black)">
                           <ion-row style="height:100%" class="ion-justify-content-center ion-align-items-center"> 
                            <img *ngIf="routine.imgurl;else defaultImg" [src]="routine.imgurl">
                            <ng-template #defaultImg>
                              <div style="font-size:100px;color:white">?</div>
                          </ng-template>
                        </ion-row>
                </ion-card>
            </ion-row>
            <ion-row justify-content-center align-content-center>
                        <p *ngIf="routine.title.length < 15;else slice" style="color:var(--ion-color-light);font-size:20px">{{routine.title}}</p>
                        <ng-template #slice>
                            <p style="color:var(--ion-color-light);font-size:20px">{{routine.title.slice(0,13)+".."}}</p>
                        </ng-template>
            </ion-row>
            <ion-row *ngIf="routine.tasks" class="ion-justify-content-center ion-align-items-center">
                <div *ngIf="routine.tasks.length == 0" class="ion-justify-content-center ion-align-items-center">
                    <p style="color:whitesmoke;font-size:15px">Let's explore tasks for your routine.</p>
                    <ion-button shape="round" expand="block" width="50%">Add Tasks</ion-button>
                </div>
            </ion-row>
      </ion-grid>
</ion-content>
