<ion-content style="--background:black;">
  <ion-list style="background-color:transparent">
    <ion-item style="--background:transparent" (click)="editRoutine();">
     <ion-label>
            <h2 style="font-size:3vh;color: white">Edit Routine</h2>
          </ion-label>
    </ion-item>
    <ion-item style="--background:transparent" (click)="addTasks();">
      <ion-label>
      <h2 style="font-size:3vh;color: white">Add Tasks</h2>
          </ion-label>
    </ion-item>
    <ion-item style="--background:transparent" (click)="editTasks();">
      <ion-label>
      <h2 style="font-size:3vh;color: white">Edit Tasks</h2>
          </ion-label>
    </ion-item>
    <ion-item style="--background:transparent" (click)="deleteRoutine();">
      <ion-label>
      <h2 style="font-size:3vh;color:var(--ion-color-danger)">Delete Routine</h2>
      </ion-label>
    </ion-item>
</ion-list>
</ion-content>
