<ion-header>
  <ion-toolbar color=dark>
      <ion-buttons slot="start">
          <ion-icon style="color:white;font-size: 4.5vh" name="arrow-dropleft" (click)="back();"></ion-icon>
      </ion-buttons>
      <h3 style="font-size:3.5vh" slot="end" color="light">About</h3>
  </ion-toolbar>
</ion-header>
<ion-content class="about-content" padding>
<ion-row jutify-content-center align-items-center>
<h1 style="font-size:4vh;color:white">Our Mission</h1>
<img src="https://i.imgur.com/pHh1IR3.jpg/">
<ion-text color="light">
  "Be A Buddhist"'s mission is to give people the platform to build routines and schedules
  to do their buddhist religious prayer. We hope that people will use our product to stay devoted with Buddhism and their own Spiritual journey,
   to discover what are the ways of a Buddhist, gain access to numerous free audio and mantra sound files, 
   and to create playlist of them to organize personal prayer routines.
</ion-text>
<h1 style="font-size:4vh;color:white">Our Team</h1>
<img src="https://i.imgur.com/oGHhxnU.png"/>
<ion-text color="light">
  "Be A Buddhist" is a product of Meyven, a developer studio missioned with providing best ideas and visions to public and business users.
  The developers at Meyven are highly motivated with keeping up with modern technology. Our goals are to connect creativity and innovative solutions to business needs.
</ion-text>
<h1 style="font-size:4vh;color:white">Developer of MeyBuddhism</h1>
<img src="https://i.imgur.com/Br1MITl.jpg"/>
<ion-text color="light">
  Kevin Moe Myint Myat is the main developer of "Be A Buddhist", who has a solid background in Software Engineering and UI/UX frontend.
  He is passionate about building user-friendly apps using cutting-edge technology which has been primarily showcased in Be A Buddhist app designs.<ion-icon name="logo-linkedin"></ion-icon>
</ion-text>
</ion-row>
</ion-content>
