.error-message
{
  color: var(--ion-color-danger);
}

.success-message
{
  color: var(--ion-color-success);
}

.go-to-login
{
  text-align: center;
  margin-top: 2vh;
}

.submit-btn
{
  margin-top: 4vh;
}
