<ion-header>
        <ion-toolbar>
          <ion-title text-center>
                <img width=5% src="..\assets\icon\favicon.png">
                Be A Buddhist
          </ion-title>
        </ion-toolbar>
      </ion-header>
<ion-content>
        <ion-slides *ngIf="banners" autoplay="2500" loop="true" speed="500" pager="true" #mySlider (ionSlidesDidLoad)="slidesDidLoad(mySlider)">
                <ion-slide *ngFor="let item of banners">
                    <ion-card>
                          <img [src]="item.payload.doc.data().imgurl">
                    </ion-card>
                </ion-slide>
              </ion-slides>
              <div *ngIf="routines">
              <div *ngIf="routines.length > 0" style="margin-top:20px">
                    <ion-fab vertical="center" horizontal="end">
                            <ion-fab-button>
                              <ion-icon name="add" [routerLink]="['/create-routine','assets/icon/favicon.png','','','[]']"></ion-icon>
                            </ion-fab-button>
                          </ion-fab>
                <ion-title>
                            Your Routines
                            <a class="subtitle">Be discipline and stick to the routines</a>
                        </ion-title>
                            <ion-slides [options]="sliderConfig">
                <ion-slide *ngFor="let item of routines">
                    <ion-card class=solidsquare>
                        <div class=dottedsquare [routerLink]="['/view-routine', item.payload.doc.id]">
                            <p class="item-title">{{item.payload.doc.data().title}}</p>
                            <img class="avatar" [src]="item.payload.doc.data().imgurl">
                                  </div>
                        </ion-card>
                </ion-slide>
              </ion-slides>
            </div>
            <div *ngIf="routines.length == 0" style="margin-top:20px">
                    <ion-title>
                            Your routines are empty.
                            <li class="subtitle">Create routines now</li>
                        </ion-title>
                        <ion-card class=solidsquare>
                          <div class=dottedsquare>
                                <ion-fab vertical="center" horizontal="center" slot="fixed">
                                        <ion-fab-button [routerLink]="['/create-routine','assets/icon/favicon.png','','','[]']">
                                          <ion-icon name="add"></ion-icon>
                                        </ion-fab-button>
                                      </ion-fab>
                                    </div>
                          </ion-card>
                </div>
              </div>
              <div *ngIf="courses">
            <div *ngIf="courses.length > 0" style="margin-top:20px">
                    <ion-fab horizontal="end" slot="fixed">
                            <ion-fab-button>
                              <ion-icon name="add"></ion-icon>
                            </ion-fab-button>
                          </ion-fab>
                    <ion-title>
                                Your Courses
                                <a class="subtitle">Unleash your inner buddhist with these courses</a>
                            </ion-title>
                            <ion-slides [options]="sliderConfig">
                                <ion-slide *ngFor="let item of routines">
                                    <ion-card class=solidsquare>
                                        <div class=dottedsquare [routerLink]="['/coursedetails', item.payload.doc.id]">
                                            <ion-label>{{item.payload.doc.data().title}}</ion-label>
                                                  </div>
                                        </ion-card>
                                </ion-slide>
                              </ion-slides>
            </div>
            <div *ngIf="courses.length == 0" style="margin-top:20px">
                        <ion-title>
                                Your courses are empty.
                                <li class="subtitle">Explore courses now</li>
                        </ion-title>
                        <ion-card class=solidsquare>
                            <div class=dottedsquare>
                                  <ion-fab vertical="center" horizontal="center" slot="fixed">
                                          <ion-fab-button [routerLink]="['/explorecourses']">
                                            <ion-icon name="add"></ion-icon>
                                          </ion-fab-button>
                                        </ion-fab>
                                      </div>
                            </ion-card>
             </div>
            </div>
</ion-content>