
.avatar {
    width: 70%;
    display: inline-block;
    border-radius: 50%;
    background-color: white;
    text-align:center;
    padding:10px 10px;
  }

  .circle {
    border-radius: 50%;
  }

  .item-title {
    font-weight: bolder;
    color: rgb(247, 137, 47);
    font-size:15px;
    margin-top:0px;
    margin-bottom:0px;
  }