<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-button [routerLink]="['/packages', cat, option, currentAvatar,title,description,taskJSON]"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
      </ion-buttons>
      <ion-title *ngIf="packageDetails">{{packageDetails.name}}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content *ngIf="packageDetails">             
<img class=itemsquare [attr.src]="packageDetails.detailimgurl">

<blockquote>
  <p class="quote-card" *ngFor="let str of packageDetails.details.split('~')">
{{str}}
</p>
</blockquote>
</ion-content>
