
<ion-content class="package-content">  
    <ion-toolbar style="--background:transparent">
        <ion-buttons slot="start">
            <ion-icon style="color:white;font-size: 30px" name="arrow-dropleft" [routerLink]="['/packages',cat]"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
        <ion-icon style="color:white;font-size: 30px" name="more"></ion-icon>
      </ion-buttons>
      </ion-toolbar>
  <div *ngIf="packageDetails">          
<img class=itemsquare [attr.src]="packageDetails.detailimgurl">
  <p class="quote-card" *ngFor="let str of packageDetails.details.split('~')">
{{str}}
</p>
</div>
</ion-content>
