
<ion-content class="package-content">  
    <ion-toolbar style="--background:transparent">
        <ion-buttons slot="start">
            <ion-icon style="color:white;font-size: 30px" name="arrow-dropleft" [routerLink]="['/packages',cat]"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end">
        <ion-icon style="color:white;font-size: 30px" name="more"></ion-icon>
      </ion-buttons>
      </ion-toolbar>   
 <ion-grid *ngIf="packageDetails" class="ion-padding-start ion-padding-end">
          <ion-row class="ion-justify-content-center ion-align-items-center">
                <ion-card style="height:50vh;width:50vh;--background:linear-gradient(to bottom right,#595959,black,black,black,black)">
                           <ion-row style="height:100%" class="ion-justify-content-center ion-align-items-center"> 
                            <img *ngIf="packageDetails.imgurl;else defaultImg" [src]="packageDetails.imgurl">
                            <ng-template #defaultImg>
                              <div style="font-size:100px;color:white">?</div>
                          </ng-template>
                        </ion-row>
                </ion-card>
            </ion-row>
            <ion-row justify-content-left align-content-left style="margin-left:10px">
                        <p *ngIf="packageDetails.name.length < 35;else slice" style="color:var(--ion-color-light);font-size:20px">{{packageDetails.name}}</p>
                        <ng-template #slice>
                            <p style="color:var(--ion-color-light);font-size:20px">{{packageDetails.name.slice(0,33)+".."}}</p>
                        </ng-template>
            </ion-row>
            <ion-row justify-content-center align-content-center>
<ion-buttons style="margin-left:2vh;margin-right:2vh">
<ion-icon style="color:white;font-size: 40px" name="skip-backward" (click)="play(packageDetails.audiourl)"></ion-icon>      
</ion-buttons>
<ion-buttons style="margin-left:1vh;margin-right:1vh">
    <ion-icon style="color:white;font-size: 50px" name="play" (click)="play(packageDetails.audiourl)"></ion-icon>      
    </ion-buttons>
    <ion-buttons style="margin-left:2vh;margin-right:2vh">
        <ion-icon style="color:white;font-size: 40px" name="skip-forward" (click)="play(packageDetails.audiourl)"></ion-icon>      
        </ion-buttons>
  </ion-row>
      </ion-grid>
</ion-content>
