// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-tabs{
    --ion-background-color: #1e1e1e;--ion-text-color: #ffffff;
}

ion-title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    .subtitle {font-family:'Times New Roman', Times, serif;font-size: 60%;color:lightgray;
    }
}

.dark-alert{
  .alert-wrapper{
    background:linear-gradient(rgb(65, 58, 51),rgb(54, 49, 49),rgb(37, 35, 35),rgb(31, 30, 30),rgb(20, 20, 20));
    header{ color:white;}
  }
}

.confirm-button{
  background:var(--ion-color-primary);color:white; border-radius: 30%; 
}

.cancel-button{
  color: white;
}

.view-routine-settings-modal{
  .modal-wrapper {position: absolute;top: 0;bottom: 0; right: 0;width: 70%;height: 100%;box-shadow: -6vh 0vh 10vh 3vh rgba(0, 0, 0, 0.8);}
}

.settings-modal{
  .modal-wrapper {position: absolute;top: 0;left: 0; width: 100%;height: 100%;}
}

.underline{
  text-decoration: underline;
}

.solidrect {
    background-color: #17181a;border-radius: 2.5vh;width: 100%;height: 25vh;border: solid black;margin:1vh;
}

.dottedrect{
    background:transparent;border-radius: 2vh;height: 22vh;border: dotted rgb(65, 65, 65);margin: 1vh;
}

.solidsquare {
  background-color: #17181a;border-radius: 2.5vh;width: 22vh;height: 22vh;border: solid black;margin:1vh;
}

.dottedsquare{
  background:transparent;border-radius: 2vh;height: 20vh;border: dotted rgb(65, 65, 65);margin: 1vh;
}