<ion-header>
  <ion-toolbar color=dark>
      <ion-buttons slot="start">
          <ion-icon style="color:white;font-size: 4.5vh" name="arrow-dropleft" (click)="back();"></ion-icon>
      </ion-buttons>
      <h3 style="font-size:3.5vh" slot="end" color="light">Settings</h3>
  </ion-toolbar>
</ion-header>
<ion-content style="--background:black">
    <ion-list style="background-color:transparent">
        <ion-item style="--background:transparent" (click)="editProfile();">
            <ion-thumbnail style="border-radius:50%;height:13vh;width:13vh;background-image:linear-gradient(to bottom right,#595959,rgb(34, 33, 33),rgb(36, 35, 35),black,black)" slot="start">
                    <ion-row style="height:100%" class="ion-justify-content-center ion-align-items-center"> 
                        <img *ngIf="profile.imgurl;else defaultImg" [src]="profile.imgurl">
                        <ng-template #defaultImg>
                          <ion-icon name="person" style="font-size:10vh;color:white"></ion-icon>
                      </ng-template>
                    </ion-row>
              </ion-thumbnail>
              <ion-label>
                <h2 style="font-size:3vh;color: white">{{profile.name}}</h2>
                <h3 style="font-size:2.5vh;color:gray">Edit Profile</h3>
              </ion-label>
              <ion-icon style="color:var(--ion-color-light);font-size:3.5vh" name="arrow-dropright" slot="end"></ion-icon>
        </ion-item>
        <ion-item style="--background:transparent" (click)="showAbout();">
          <ion-label>
          <h2 style="font-size:3vh;color: white">About</h2>
                <h3 style="font-size:2.5vh;color:gray">Details about this app</h3>
              </ion-label>
        </ion-item>
        <ion-item style="--background:transparent" (click)="showPP();">
          <ion-label>
          <h2 style="font-size:3vh;color: white">Privacy Policy</h2>
                <h3 style="font-size:2.5vh;color:gray">Important information on privacy agreement</h3>
        </ion-label>
              </ion-item>
              <ion-item style="--background:transparent" (click)="showSupport();">
                <ion-label>
                <h2 style="font-size:3vh;color: white">Support</h2>
                      <h3 style="font-size:2.5vh;color:gray">If you wish to donate and contribute</h3>
              </ion-label>
                    </ion-item>
        <ion-item style="--background:transparent;visibility: hidden;" (click)="showTNC();">
          <ion-label>
          <h2 style="font-size:3vh;color: white">Terms and Conditions</h2>
                <h3 style="font-size:2.5vh;color:gray">Everything you need to know</h3>
                </ion-label>
        </ion-item>
        <ion-item style="--background:transparent;visibility: hidden;" (click)="showFeedback();">
          <ion-label>
          <h2 style="font-size:3vh;color: white">Feedback</h2>
                <h3 style="font-size:2.5vh;color:gray">Feedback issues to the developer</h3>
                </ion-label>
        </ion-item>
        <ion-item style="--background:transparent" (click)="logoutConfirm();">
          <ion-label>
          <h2 style="font-size:3vh;color: var(--ion-color-danger)">Logout</h2>
                <h3 style="font-size:2.5vh;color:gray">You are currently logged in as</h3>
                <h3 style="font-size:2.5vh;color:gray">{{profile.name}}</h3>
        </ion-label>
              </ion-item>
  </ion-list>
  <ion-row class="ion-justify-content-center ion-align-items-center ion-margin ion-padding">
    <ion-button (click)="deleteAccount()" style="font-size:2vh;--background:var(--ion-color-danger)" shape="round" expand="block" width="50%">Delete this account.</ion-button>
</ion-row>
</ion-content>
