.gradient-black{
    --background: linear-gradient(rgb(112, 112, 112), rgb(65, 65, 65),rgb(32, 32, 32),rgb(0, 0, 0),rgb(0, 0, 0));
}

.large-label{
    font-size:3vh;font-weight: bold;
}

.large-input{
    border-bottom:0.01vh solid white;--color:white;margin:5vh 1vh;padding:3vh 3vh;font-size:3vh;
}

.opac-white-button{
    --background:transparent;--color:white;font-size:2vh
}

.opac-primary-button{
    --background:transparent;--color:var(--ion-color-primary);font-size:2vh;
}