<ion-content *ngIf="categoryList">
  <ion-grid>
      <div class="large-card">
                    <div style="margin-top:7%;margin-bottom:12%;text-align: center">Browse</div>
      </div>
          <div *ngIf="categoryList.length > 0">
              <div *ngFor="let item of categoryList;let i=index;let even=even">          
              <img class=itemsquare [src]="item.payload.doc.data().imgurl" [routerLink]="['/packages', item.payload.doc.data().name]">
              </div>
          </div>
    </ion-grid>
</ion-content>
