<ion-content *ngIf="categoryList">
  <ion-grid>
      <div class="large-card">
          <div class="transparent">
                    <ion-icon *ngIf="this.browse.option == 'create'" style="font-weight: bolder;font-size: 30px;" name=close [routerLink]="['/create-routine',currentAvatar,title,description,taskJSON]"></ion-icon>
                </div>
                    <div style="margin-top:7%;margin-bottom:12%;text-align: center">Browse</div>
      </div>
          <div *ngIf="categoryList.length > 0">
            <ion-title>All Catergories</ion-title>
              <div *ngFor="let item of categoryList;let i=index;let even=even">          
              <img class=itemsquare [src]="item.payload.doc.data().imgurl" [routerLink]="['/packages', item.payload.doc.data().name]">
              </div>
          </div>
    </ion-grid>
</ion-content>
