.itemsquare {
    background-color: #35393d;
    border-radius: 10px;
    border: solid black;
}

ion-content{
    --ion-background-color: #1e1e1e;
    --ion-text-color: #ffffff;
  }

  .large-card{
      font-size: 70px;
      font-family: Arial, Helvetica, sans-serif;
  }

  .transparent{
      background-color: transparent;
  }